<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script type="text/javascript">
		function downloadd(d) 
		{
        	if (d == 'Select document') return;
        	//window.location = d;
	         var aTag = document.createElement('a');
	         aTag.setAttribute('href',d);
	         aTag.setAttribute('download','');
	         aTag.innerHTML = d;
	         document.body.appendChild(aTag);
	         aTag.click();
	         //document.body.removeChild(aTag);
		}
</script>
</head>
<body>

<div>
	<h4>Title : {{video.title}}</h4>
	<h5>Rating : {{video.rating}}</h5>
	<h5>Likes : {{video.likes}}</h5>
	<h5>Dislikes : {{video.dislikes}}</h5>
	<h5>Total Views : {{ video.viewcount }}</h5>
	<h5>Duration : {{video.duration }}</h5>
	<h5>Author : {{video.author }}</h5>

    <select name="link" onchange="downloadd(this.value)">
		 {% for a in a1 %}       		
       		 <option id = '1' value={{a.url}}>{{a.quality}}</option>	
		 {% endfor %}
    </select>
</div>
</body>
</html>